.tournaments-wrapper {
  padding: 20px;
}

.tournament-status {
  text-align: center;
}

.tournament-wrapper {
  width: 90%;
  margin: 0 auto;
}

.tournament-title {
  width: 100%;
  background-color: #5d60b8;
  padding: 100px;
  display: flex;
  justify-content: center;
  font-size: 30px;
  color: #fff;
}