.nav-items-button-groups {
  display: flex;
  width: fit-content;
  justify-content: space-between;
  align-items: center;

  .nav-item-btn {
    font-family: inherit;
    font-size: inherit;
    text-decoration: none;
    background-color: inherit;
    border: none;
    color : inherit;
    cursor: pointer;
    transition: all .5s ease-in;
    width: 100px;

    &:hover {
      color: rgb(194, 222, 255);
    }
  }
}