.post-container {
  margin-bottom: 1vw;
  
}

.top20px {
  background-color: rgb(255, 68, 68);
  color: #fff;
 
  &:hover {
    outline: none;
    background-color: rgb(255, 68, 68);
    color: #fff;  
    // transform: scale(1.1);
    // opacity: 0.8;
  }
}

.places-modal {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(133, 133, 133, .5);
  overflow: hidden;
  display: flex;
  align-content: center;
}

.places-container {
  width: 500px;
  height: 500px;
  background-color: #fff;
  box-shadow: 0 0 3px #888;
  margin: auto;
  overflow: scroll;
  border-radius: 18px;
}

.place-wrapper {
  color: rgb(255, 68, 68);
  text-align: center;
  padding: 16px;

  &:hover {
    outline: none;
    transform: scale(1.1);
  }
}

.place-search-from {
  display: flex;
  align-items: center;
  margin-top: 3%;
  margin-bottom: 3%;

  .input-wrapper {
    width: 30%;
    height: 38px;
    margin-left: 2%;
  }
}

.lightgrey {
  background-color: rgb(211, 211, 211);
}

.grey {
  background-color: rgb(173, 173, 173);
}

.selected-place-wrapper {
  margin-top: 20px;
  position: relative;

  .place-delete-btn {
    position: absolute;
    cursor: pointer;
    color: grey;
    top: 0;
    right: 0;
    transition: all .5s ease-in;

    &:hover {
      color: red;
    }
  }
}

.place-link {
  padding-top: 4px;
  margin-right: 10%;
  cursor: pointer;
}

.form-submit-button {
  cursor: pointer;
  margin-left: 10%
}

.no-place {
  text-align: center;
  margin-top: 10%;
}

.links {
  margin-top: 10px;
  color: rgb(80, 76, 76);
  align-content: center
}

.place-name {
  color: rgb(80, 76, 76);
}

@media screen and (max-width: 1) {
    .main-right-container {
        display: none;
    }
    .place-search-from {
      .input-wrapper {
        height: fit-content;
      }
    }
}



