.home-page-container {
  padding: 20px;

  .home-search-form {
    display: flex;
    width: fit-content;
    margin: 0 auto;
  }
}
.post-container {
  padding: 20px;
  width: 700px;
  margin: 0 auto;
}

.post-wrapper {
  box-shadow: 0 0 3px rgb(126, 126, 126);
  margin-bottom: 20px;

  .post-header {
    padding: 10px;
    background-color: #ddd;
    display: flex;
    justify-content: space-between;

    .post-owner-name {
      margin: 0;
    }

    .posted-time {
      width: 200px;
      margin: 0;
    }
  }
}

.post-body {
  padding: 15px;
}

.post {
  margin: 0 0 15px;
}

.post-likes-comments-wrapper {
  display: flex;
  justify-content: space-between;
  margin: 0 0 10px;
}

.post-comments-logo {

}

.post-likes-logo {
  color: #ff5e5e;
}

.post-likes {
 
}

.comments-wrapper {
  border-top: 1px solid #333;
}
.comment-wrapper {
  margin: 10px 0;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 3px #aaa;
}

.user-commented {
  display: inline-block;
  color: #5e6eff;
  margin-right: 10px;
}

.home-comment-form {
  margin: 20px 0 0;
  display: flex;
  justify-content: space-between;
}

.input-wrapper {
  padding: 10px;
  width: 75%;
  border-radius: 10px;
  box-shadow: 0 0 3px #aaa;
}
  