.home-page-container {
  padding: 20px;
  display: flex;

  .home-search-form {
    display: flex;
    width: fit-content;
    margin: 0 auto;
  }
}

.home-left-container .material-icons {
  font-size: 20px;
  padding-right: 10px;
}

.home-left-container {
  width: 24vw;
  margin-right: 1vw;
}

.favorites-container {
  width: 100%;
  min-height: 25vh; /* change to auto when backend is implemented */
  margin-bottom: 20px;
  padding: 10px;
  background-color: white;
  border: .5px solid rgba(212, 210, 210, 0.788);
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(144, 144, 144, 0.2), 0 6px 20px 0 rgba(144, 144, 144, 0.2);
}

.reviews-container {
  width: 100%;
  min-height: 25vh; /* change to auto when backend is implemented */
  margin-bottom: 20px;
  padding: 10px;
  background-color: white;
  border: .5px solid rgba(212, 210, 210, 0.788);
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(144, 144, 144, 0.2), 0 6px 20px 0 rgba(144, 144, 144, 0.2);
}

@media screen and (max-width: 1000px) {
  .home-page-container {
    padding: 1vw;
  }
  .home-left-container {
    width: 22vw;
  }
}

@media screen and (max-width: 700px) {
  .home-page-container {
    padding: 1vw;
    flex-direction: column;
  }
  .home-left-container {
    display: flex;
    width: 100%;
  }
  .favorites-container {
    margin-right: 1vw;
  } 
  .reviews-container {
    margin-left: 1vw;
    height: 300px;
  }
}



  