.label-amount-wrapper {
  display: flex;
  width: 20%;
}

.post-label {
  margin-right: 10%;
}

.post-body {
  padding: 15px;
}

.post {
  margin: 0 0 15px;
}

.like-participants-comment {
  display: flex;
  justify-content: space-around;
  padding: 7px 0;
  border-top: 1px solid #c2c2c2;
  border-bottom: 1px solid #c2c2c2;
  margin: 0 0 10px;
}



.user-commented {
  display: inline-block;
  color: #5e6eff;
  margin-right: 10px;
}
