.profile-page-container {
  padding: 20px;
  display: flex;

  .profile-search-form {
    display: flex;
    width: fit-content;
    margin: 0 auto;
  }
}

.main-left-container {
  width: 24vw;
  margin-right: 1vw;
}

.main-left-container .material-icons {
  font-size: 20px;
  padding-right: 10px;
}

@media screen and (max-width: 700px) {
  .main-left-container {
    width: 100vw;
  }

  .favorites-container,
  .reviews-container {
    width: 100%;
    height: auto;
  }
}






  