.profile-page-container {
  padding: 20px;
  display: flex;

  .profile-search-form {
    display: flex;
    width: fit-content;
    margin: 0 auto;
  }
}

.main-left-container {
  width: 24vw;
  margin-right: 1vw;
}

.main-left-container .material-icons {
  font-size: 20px;
  padding-right: 10px;
}

// .favorites-container {
//   width: 100%;
//   min-height: 25vh; /* change to auto when backend is implemented */
//   margin-bottom: 20px;
//   padding: 10px;
//   background-color: white;
//   border: .5px solid rgba(212, 210, 210, 0.788);
//   border-radius: 5px;
//   box-shadow: 0 4px 8px 0 rgba(144, 144, 144, 0.2), 0 6px 20px 0 rgba(144, 144, 144, 0.2);
// }

// .reviews-container {
//   width: 100%;
//   min-height: 25vh; /* change to auto when backend is implemented */
//   margin-bottom: 20px;
//   padding: 10px;
//   background-color: white;
//   border: .5px solid rgba(212, 210, 210, 0.788);
//   border-radius: 5px;
//   box-shadow: 0 4px 8px 0 rgba(144, 144, 144, 0.2), 0 6px 20px 0 rgba(144, 144, 144, 0.2);
// }

@media screen and (max-width: 700px) {
  .main-left-container {
    width: 100vw;
  }

  .favorites-container,
  .reviews-container {
    width: 100%;
    height: auto;
  }
}






  