.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: white;
  border-bottom: .5px solid rgba(212, 210, 210, 0.788);
}

.nav-header {
  display: flex;
}

.nav-title img {
  width: 75px;
  height: 75px;
}

.search-form {
  margin-left: 20px;
  display: flex;
  align-items: center;
}

.search-input {
  width: 45vw;
  padding: 8px;
  border-radius: 3px;
  font-size: inherit;
  font-family: inherit;
  border: 1px solid rgb(133, 133, 133);
  margin: 10px;
}

.search-btn {
  padding: 8px 11px;
  background: rgb(255, 68, 68);
  color: white;
  font-size: 17px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.nav-links {
  display: flex;
  width: 350px;
  justify-content: space-around;
  align-items: center;
  

  .nav-link {
    padding: 13px 10px;
    text-decoration: none;
    color: rgb(255, 68, 68);
  }
}