
.activity-card {
  padding: 10px;
  box-shadow: 0px 0px 3px rgb(150, 150, 150);
  margin-bottom: 20px;
}

.post-user-firstname {
  cursor: pointer;
}

.delete-btn {
  cursor: pointer;
  color: grey;
  margin: -20px 0 0 auto;
  transition: all .5s ease-in;

  &:hover {
    color: red;
  }
}

.activity-description {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: .8rem;
  // color: rgb(255, 97, 97);
  // color: white;
  // background-color: red;
}

#postedTime {
  color: grey;
  font-size: .7rem;
  padding-left: 10px;
  margin: auto 0;
  width: 100px;
}

.user {
  display: flex;
  align-items: center;
}

.activity-description {
  display:flex;
}

.activity-zipcode {
  color: white;
  background-color: rgb(255, 68, 68);
  padding: 5px;
  width: fit-content;
  border-radius: 25px;
  margin-right: 20px;
}
.place-icon {
  color: inherit;
  text-decoration: none;
}

#date-time {
  color: white;
  background-color: rgb(255, 68, 68);
  padding: 5px;
  width: 90px;
  border-radius: 25px;
}

#location,
#date {
  font-size: 12px;
}

.profile-img {
  width: 25px;
  height: 25px;
  margin-right: 10px;
}

.comment-wrapper {
  display: flex;
}

.comment {
  margin: 5px 10px 5px 0;
  padding: 5px 10px;
  border-radius: 10px;
  box-shadow: 0 0 3px #aaa;
  width: 85%;
  display: flex;

  .delete-btn {
    margin-top: 0;
  }
}

.user-commented {
  display: inline-block;
  color: #5e6eff;
  margin-right: 10px;
  cursor: pointer;
}
